// -----------------------------------------------------------------------------
// Mixins
// -----------------------------------------------------------------------------

@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin position-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

