include ../mixins/utils
block pageConfig
doctype html
html(lang="en-US")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="ie=edge,chrome=1")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title= pageTitle
  body(class=pageClass)

    include navigation

    include header

    main#page-main

      block pageContent

    include footer

    include ../components/popup
