// -----------------------------------------------------------------------------
// ... styles config
// -----------------------------------------------------------------------------
// 1. Color palette ------------------------------------------------------------

$color-white: #ffffff;
$color-black: #000000;
$color-text: #16191c;


// 2. Fonts --------------------------------------------------------------------

$font-base: 'Lato', Arial, Tahoma, sans-serif;




