// -----------------------------------------------------------------------------
// Normalization of HTML elements
// Mr.Barfi's edition
// It is based on bootstrap 4 reboot [http://getbootstrap.com] and
// Normalize.css v8.0.0 [https://github.com/necolas/normalize.css]
// Note: browsers support IE 10+, iOS 7+ and all modern browsers
// -----------------------------------------------------------------------------

// IE10+ doesn't honor `<meta name="viewport">` in some cases.
@at-root {
  //noinspection CssInvalidPropertyValue
  @-ms-viewport {
    width: device-width;
  }
}

// Include padding and border in the element's total width and height

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

// 1. Change the default font family in all browsers.
// 2. Change the default font size for simple .rem calculations 1rem = 10px
// 3. Correct the line height in all browsers.
// 4. Prevent adjustments of font size after orientation changes in IE on
//    Windows Phone and iOS.
// 5. Change the default tap highlight to be completely transparent in iOS.
// 6. Add font smoothing for extra performance in Mac
// 7. Control the behavior of scrollbars when an element's content overflows

html {
  font: {
    family: sans-serif; // 1
    size: 62.5%; // 2
  }
  line-height: 1.15; // 3
  -ms-text-size-adjust: 100%; // 4
  -webkit-text-size-adjust: 100%; // 4
  -webkit-tap-highlight-color: transparent; // 5
  -moz-osx-font-smoothing: grayscale; // 6
  -webkit-font-smoothing: antialiased; // 6
  -ms-overflow-style: scrollbar; // 7
}

// Shim for HTML5 structural elements to display correctly (IE10)

article, aside, figcaption, figure, footer, header, main, nav, section, details {
  display: block;
}

// Suppress the focus outline on elements that cannot be accessed via keyboard.
// This prevents an unwanted focus outline from appearing around elements that
// might still respond to pointer events.
// Credit: https://github.com/suitcss/base

[tabindex="-1"]:focus {
  outline: 0 !important;
}

// Correct the font size and margin on `h1` elements within `section` and
// `article` contexts in Chrome, Firefox, and Safari.

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

// 1. Add the correct box sizing in Firefox.
// 2. Show the overflow in Edge and IE.

hr {
  box-sizing: content-box; // 1
  height: 0; // 1
  overflow: visible; // 2
}

// 1. Correct the inheritance and scaling of font size in all browsers.
// 2. Correct the odd `em` font sizing in all browsers.

pre,
code,
kbd,
samp {
  font-family: monospace, monospace; // 1
  font-size: 1em; // 2
}

// Remove the gray background on active links in IE 10.

a {
  background-color: transparent;
}

// Add the correct font style in Android 4.3-

dfn {
  font-style: italic;
}

// 1. Remove the bottom border in Chrome 57-
// 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
// 3. Add explicit cursor to indicate changed behavior.
//

//noinspection CssOverwrittenProperties
abbr[title] {
  border-bottom: none; // 1
  text-decoration: underline; // 2
  text-decoration: underline dotted; // 2
  cursor: help; // 3
}

// Add the correct font weight in Chrome, Edge, and Safari.

b,
strong {
  font-weight: bolder;
}

// Add the correct font size in all browsers.

small {
  font-size: 80%;
}

// Prevent `sub` and `sup` elements from affecting the line height in
// all browsers.

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

// Remove the border on images inside links in IE 10.

img {
  border-style: none;
}

// Hide the overflow in IE

svg:not(:root) {
  overflow: hidden;
}

// Remove the default `border-radius` that macOS Chrome adds.

button {
  border-radius: 0;
}

// 1. Change the font styles in all browsers.
// 2. Remove the margin in Firefox and Safari.

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; // 1
  font-size: inherit; // 1
  line-height: inherit; // 1
  margin: 0; // 2
}

// 1. Show the overflow in Edge.

button,
input { // 1
  overflow: visible;
}

// 1. Remove the inheritance of text transform in Firefox.

button,
select { // 1
  text-transform: none;
}

// 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
//    controls in Android 4.
// 2. Correct the inability to style clickable types in iOS and Safari.
// 3. Prevent user selection natively.

button,
html [type="button"], // 1
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; // 2
  -ms-user-select: none; // 3
  -moz-user-select: none; // 3
  -webkit-user-select: none; // 3
  user-select: none; // 3
}

// Remove the inner border and padding in Firefox.

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

// Restore the focus styles unset by the previous rule.

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: none;
}

// 1. Add the correct box sizing in IE 10-
// 2. Remove the padding in IE 10-

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box; // 1
  padding: 0; // 2
}

// Hide some specific element in IE 10, 11, Edge 12+
// 1. Hide the "clear button" at the edge of a text, search inputs
// 2. Hide password "eye" at the edge of a password input

input[type="text"]::-ms-clear, // 1
input[type="search"]::-ms-clear, // 1
input[type="email"]::-ms-clear, // 1
input[type="tel"]::-ms-clear, // 1
input[type="password"]::-ms-reveal { // 2
  width: 0;
  height: 0;
  display: none;
}

// Correct the padding in Firefox.

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

// 1. Correct the text wrapping in Edge and IE.
// 2. Correct the color inheritance from `fieldset` elements in IE.
// 3. Remove the padding so developers are not caught out when they zero out
//    `fieldset` elements in all browsers.

legend {
  box-sizing: border-box; // 1
  color: inherit; // 2
  display: table; // 1
  max-width: 100%; // 1
  padding: 0; // 3
  white-space: normal; // 1
}

// Add the correct vertical alignment in Chrome, Firefox, and Opera.

progress {
  vertical-align: baseline;
}

// 1. Remove the default vertical scrollbar in IE 10+.
// 2. Resize vertically only.

textarea {
  overflow: auto; // 1
  resize: vertical; // 2
}

// 1. Add the correct box sizing in IE 10.
// 2. Remove the padding in IE 10.

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; // 1
  padding: 0; // 2
}

// Correct the cursor style of increment and decrement buttons in Chrome.

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

// 1. Override the extra rounded corners in Chrome and Safari.
// 2. Correct the outline style in Safari.

[type="search"] {
  -webkit-appearance: none; // 1
  outline-offset: -2px; // 2
}

// Remove the inner padding in Chrome and Safari on macOS.

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

// 1. Correct the inability to style clickable types in iOS and Safari.
// 2. Change font properties to `inherit` in Safari.

::-webkit-file-upload-button {
  -webkit-appearance: button; // 1
  font: inherit; // 2
}

// Add the correct display in all browsers.

output {
  display: inline-block;
}

summary {
  display: list-item;
  cursor: pointer;
}

// Add the correct display in IE 10+.

template {
  display: none;
}

// Add the correct display in IE 10.

[hidden] {
  display: none !important;
}
