//- ----------------------------------------------------------------------------
//- Index (home) page markup
//- ----------------------------------------------------------------------------

extends ./layouts/base-layout

block pageConfig
  - var pageTitle = 'Главная страница'
  - var pageClass = 'page-home'
block pageContent



  //- test grid section
  //- include sections/grid-section
