// -----------------------------------------------------------------------------
// Global styles
// -----------------------------------------------------------------------------

// 1. Body styles --------------------------------------------------------------
body {
  font: {
    family: $font-base;
    size: 16px;
    weight: 400;
  }
  padding: 0;
  margin: 0;
  height: 100%;
  min-width: 320px;
  color: $color-text;
  line-height: 1.7;
  user-select: none;
}


// 2. Svg ----------------------------------------------------------------------

svg {
  display: block;
  height: 100%;
  width: 100%;
}




