// -----------------------------------------------------------------------------
// General typography styles
// -----------------------------------------------------------------------------
// 1. Headings
// 2. Paragraphs
// 3. Lists
// 4. Links
// 5. Typography helpers
// -----------------------------------------------------------------------------

// 1. Headings -----------------------------------------------------------------
h1, h2, h3, h4, h5, h6 {
  font: {
    family: inherit;
  }
  margin: 0;
}

// 2. Paragraphs ---------------------------------------------------------------
p {
  font: {
    family: inherit;
  }
  margin: 0;
}

// 3. Lists --------------------------------------------------------------------
ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

// 4. Links --------------------------------------------------------------------

a {
  text-decoration: none;
  outline: none;
  transition-property: color, background-color, opacity, border-color;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
  user-select: none;
}
